/* SIMPLE FORM ---------------------------------------------------------------- */

.simple-form {
	display: inline-block;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding: auto;
}

.simple-form form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em;
}

.simple-form form input {
	margin: .5em 2em;
	padding: .5em;
	font-size: 2em;
	border: none;
	background: white;
	box-shadow: 0 0 1em rgba(128, 128, 128, 0.3);
}

.simple-form form label {
	margin: 0;
	padding: .5em;
	font-size: 2em;
}

.simple-form form button {
	margin: .5em 1.5em;
	padding: .5em 1.5em;
	font-size: 2.5em;
	border-radius: .25em;
	border: none;
	background: #999999;
	box-shadow: 0 0 1em rgba(128, 128, 128, 0.3);
}

.simple-form form button:hover {
	cursor: pointer;
	background: #888888;
}

.simple-form form button:active {
	background: #777777;
}

@media (prefers-color-scheme: dark) {
	.simple-form form input {
		color: white;
		border: none;
		background: #222222;
		box-shadow: 0 0 .5em rgba(0, 0, 0, 0.3);
	}

	.simple-form form button {
		border: none;
		background: #333333;
		color: white;
		box-shadow: 0 0 .5em rgba(0, 0, 0, 0.3);
	}

	.simple-form form button:hover {
		cursor: pointer;
		background: #444444;
	}

	.simple-form form button:active {
		background: #555555;
	}
}