@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
	background: white;
	color: black;
	font-family: 'Poppins', sans-serif;
	font-size: 1vw;
}

@media (prefers-color-scheme: dark) {
	:root {
		background: #444444;
		color: white;
	}
}

@media (min-width: 1000px) {
	:root {
		font-size: 10px;
	}
}

body {
	margin: 0;
	padding: 0;
}

.app {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

/* NAVIGATION BAR ------------------------------------------------------------- */

.nav-bar {
	flex: 0 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	background: #cccccc;
	padding: .25em;
}

.nav-bar nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}

.nav-bar a {
	font-size: 3em;
	text-decoration: none;
	padding: .25em .5em;
}

.nav-bar a:link,
.nav-bar a:visited,
.nav-bar a:hover,
.nav-bar a:active {
	color: black;
}

.nav-bar a:hover {
	background: #BBBBBB;
}

.nav-bar a:active {
	background: #AAAAAA;
}

.nav-bar img {
	width: 5em;
	height: 5em;
	margin: .5em;
}

@media (prefers-color-scheme: dark) {
	.nav-bar {
		background: #141414;
	}

	.nav-bar a:link,
	.nav-bar a:visited,
	.nav-bar a:hover,
	.nav-bar a:active {
		color: white;
	}

	.nav-bar a:hover {
		background: #222222;
	}

	.nav-bar a:active {
		background: #333333;
	}

	.nav-bar img {
		filter: invert(1);
	}
}

/* MAIN CONTENT --------------------------------------------------------------- */

.main-content {
	overflow-y: auto;
	flex-grow: 1;
	display: flex;
	padding: 2em;
}

.component-layer-1 {
	background: #cccccc;
	border-radius: 2em;
	box-shadow: 1em 1em 3em rgba(0, 0, 0, 0.3);
}

.component-layer-2 {
	background: #999999;
	border-radius: .7em;
    box-shadow: 0 0 1em rgba(128, 128, 128, 0.8);
}

@media (prefers-color-scheme: dark) {
	.component-layer-1 {
		background: #141414;
		box-shadow: 1em 1em 3em rgba(0, 0, 0, 0.5);
	}

	.component-layer-2 {
		background: #2a2a2a;
        box-shadow: 0 0 1em rgba(0, 0, 0, 0.8);
	}
}

/* FOOTER --------------------------------------------------------------------- */

.footer {
	flex: 0 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0;
	background: #cccccc;
}

@media (prefers-color-scheme: dark) {
	.footer {
		background: #141414;
	}
}

.footer p {
	margin: .5em;
	padding: 0;

	font-size: 2em;
}

.footer a {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 1em;
}

.footer img {
	width: 3em;
	height: 3em;
}